.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.post {
  height: 300px;

  position: relative;
}

.postImage:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
