@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #262626;
  object-fit: cover;
}

input,
button {
  border: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 128px;
  padding: 42px 0;
}

.page-wrapper {
  display: flex;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}
