* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #000;
}

.wrapper {
  display: flex;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
