* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #262626;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 128px;
  padding: 42px 0;
}
